
.sectionOne{
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.content__sectionOne{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__conten{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}   
.img__sectionOne{
    width: 30%;
}
.main__content{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.blockOne__main{
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: flex-start;
}
.blockTwo__main{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
}
.img__sectionOne>img{
    width: 100%;
}