.modalHeader {
    height: 101px;
    border: none !important;
}

.modalTitle {
    margin: 0 auto;
}

.btn-close {
    position: absolute;
    right: 25px;
    top: 25px;
}

.formControl {
    border: none !important;
    border-bottom: 2px #FB8F1D solid !important;
    border-radius: 0 !important;
    width: 400px !important;
    margin: 0 auto !important;
}

.footerButton {
    /* align-items: center; */
    margin: 0 auto !important;
    width: 100px !important;
    justify-content: center !important;
}

.modal-footer {
    border: none !important;
    justify-content: center !important;
    display: contents !important;
    text-align: center !important;
    align-items: center !important;
}